.section_1{width:1250px;margin:0 auto;padding:38px 0;}

.freeTrial{text-align:center;padding:109px;width:1290px;}
.freeTrial h2{font-family:宋体;font-size:34px;color:#475168;}
.freeTrial p{font-size:24px;font-family:Calibri;line-height:40px;}
.freeTrial .metal{float:left;margin-right:35px;}
.freeT{margin-top:70px;}
.freeT .metal .Mt{width:296px;}
.freeT .metal .Mt h3{font-size:24px;font-family:宋体;line-height:74px;background:#eeeeee;}
.freeT .metal .Mt .priceBox{font-family:Arial;line-height:130px;color:#fff;background:#999999;}
.freeT .metal .Mt .priceBox span{font-size:50px;color:#fff;}
.freeT .metal .Mt .details{padding:15px 30px;background:#eeeeee;}
.freeT .metal .Mt .details .dts_0{width:239px;float:left;border-bottom:1px dashed #cccccc;
		line-height:50px;font-size:14px;}
.freeT .metal .Mt .details .dts .get{background:#acacac;padding:14px 24px;border-radius:5px;
		color:#fff;margin-top:10px;cursor:pointer;}
/*.freeTrial .freeT:hover{background:#f77b6f;}*/
.foot{padding:52px 38px;margin-top:40px;}